/* Updated custom styles with light green primary color */
body {
    background-color: #f0f8ff; /* Light blue background color */
}

.navbar {
    background-color: #98FB98; /* Light green navbar background color */
}

.jumbotron {
    background-color: #98FB98; /* Light green jumbotron background color */
}

.btn-primary {
    background-color: #98FB98; /* Light green button color */
    border-color: #98FB98; /* Light green border color */
}

.btn-primary:hover {
    background-color: #90EE90; /* Light green on hover */
    border-color: #90EE90; /* Light green border on hover */
}

body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}
  
a {
    position: relative;
    text-decoration: none;
    color: #fff;
}
  
a:hover {
    color: #008000;
    text-decoration: none;
}

.nav-link:after{
    content: "";
    position: absolute;
    background-color: #008000;
    height: 1px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

.nav-link:hover:after{
    width: 100%;
}

.nav-link:hover {
    color: #008000; /* Change the text color to green on hover */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
  color: #008000;
  text-align: center;
}

#purchase-body{
    background-color: #eceff3;
}

#purchase-body p{
    color: #7a7a7a;
}

.green-bar {
    background-color: #008000;
    height: 1px;
    margin-top: 2px;
}
.white-bar {
    background-color: #fff;
    height: 1px;
    margin-top: 2px;
}


  /*nav bar*/
.navbar {
  padding: 0;
  position: static;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-left: 10px;
  font-family: 'Iceland', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
